*.com
*.class
*.dll
*.log
*.tlog
*.obj
*.pdb
*.o
.vs/
*.suo
*.VC.db
*.so
x64/
v16/
*.db
*.ipch
/.vs/testthing/v16/Browse.VC.opendb
/.vs/testthing/v16/Browse.VC.db-wal
/.vs/testthing/v16/Browse.VC.db-shm
